:root {
    --rock-color: rgb(199, 0, 179);
    --rock-darker-color: rgb(255, 0, 255);
    --paper-color: rgb(205, 205, 0);
    --paper-darker-color: rgb(255, 255, 0);
    --scissors-color: rgb(0, 185, 192);
    --scissors-darker-color: rgb(0, 255, 255);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(rgb(34, 34, 34) 0%, black 100%);
    font-family: 'Poppins', sans-serif;
    color: white;
}

header {
    padding: 50px;
    margin: 0 auto;
}

h1 {
    font-weight: 200;
    text-shadow: 0 0 2px white, 0 0 2px white;
    color: white;
}

.scoreboard, .current-round {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.scoreboard > h3 {
    flex: 0 0 100px;
    text-align: center;
}

.scores {
    position: relative;
    padding: 0 50px;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 5px;
    /* background: rgb(18, 18, 18); */
    overflow: hidden;
    border-radius: 6px;
    text-align: center;
    width: 207.5px;
}

.scores::before {
    content: "";
    position: absolute;
    width: 195px;
    height: 62px;
    top: 5px;
    left: 5px;
    z-index: -1;
    background: rgb(18, 18, 18);
    border-radius: 5px;
}

.scores::after {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    top: -90px;
    right: 0;
    left: -22.5px;
    bottom: 0;
    z-index: -2;
    background: linear-gradient(to bottom left, var(--rock-darker-color) 20%, var(--paper-darker-color) 50%, var(--scissors-darker-color) 90%);
    animation: rotating 12s linear infinite
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.buttons {
    width: 100vw;
    display:flex;
    padding: 50px 12%;
    gap: 5%;
}

button {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 400px;
    background: transparent;
    border: none;
    gap: 30px;
    border-radius: 10px;
    height: 300px;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

button::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    /* top: 30%;
    left: 30%; */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    z-index: -2;
    opacity: 0;
    border: 1px solid var(--rock-color);
    background: var(--rock-darker-color);
}

#paper::after {
    border: 1px solid var(--paper-color);
    background: var(--paper-darker-color);
}

#scissors::after {
    border: 1px solid var(--scissors-color);
    background: var(--scissors-darker-color);
}

button:hover::after {
    scale: 10;
    transition: scale 300ms ease-out, opacity 50ms ease-in-out;
    opacity: .2;
}

button.clicked::after  {
    scale: 17;
    transition: scale 200ms ease-in, opacity 200ms ease-in-out;
    opacity: .5;
}


button > span, button > i {
    font-size: 100px;
    color: inherit;
    transition: scale 100ms ease-in-out; 
}

button:hover > i {
    scale: 1.1;
    transition: scale 100ms ease-in-out; 
}

#rock {
    border: 4px solid var(--rock-darker-color);
    box-shadow: 0 0 5px 2px var(--rock-color), inset 0 0 5px 2px var(--rock-color);
    color: var(--rock-darker-color);
    text-shadow: 0 0 2px var(--rock-color), 0 0 2px var(--rock-color);
}

#paper {
    border: 4px solid var(--paper-darker-color);
    box-shadow: 0 0 5px 2px var(--paper-color), inset 0 0 5px 2px var(--paper-color);
    color: var(--paper-darker-color);
    text-shadow: 0 0 5px var(--paper-color), 0 0 5px var(--paper-color);
    
}

#scissors {
    border: 4px solid var(--scissors-darker-color);
    box-shadow: 0 0 5px 2px var(--scissors-color), inset 0 0 5px 2px var(--scissors-color);
    color: var(--scissors-darker-color);
    text-shadow: 0 0 5px var(--scissors-color), 0 0 5px var(--scissors-color);
}

.current-round {
    padding: 0 30%;
    font-size: 3rem;
}

.current-round h3 {
    flex: 0 0 50px;
}

.commentary {
    padding: 25px 0;
    text-align: center;
    color: white;
}

.current-round h3 i {
    display: none;
}

.active {
    display: block !important;
}

@media screen and (max-width: 800px) {
    .buttons {
        padding: 50px 5%;
    }
    
    button {
        height: 200px;
        padding: 0 10px;
    }

    button i {
        font-size: 4rem;
    }
}