:root {
    --rock-color: rgb(199, 0, 179);
    --rock-darker-color: rgb(255, 0, 255);
    --paper-color: rgb(205, 205, 0);
    --paper-darker-color: rgb(255, 255, 0);
    --scissors-color: rgb(0, 185, 192);
    --scissors-darker-color: rgb(0, 255, 255);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(rgb(34, 34, 34) 0%, black 100%);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.scoreboard, .current-round {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.scoreboard > h3 {
    flex: 0 0 100px;
    text-align: center;
}

.scores {
    position: relative;
    padding: 0 50px;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 5px;
    overflow: hidden;
    border-radius: 6px;
    text-align: center;
    /* width: 207.5px; */
}

.scores::before {
    content: "";
    position: absolute;
    /* width: 195px; */
    height: 62px;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    background: rgb(18, 18, 18);
    border-radius: 5px;
}

.scores::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    top: -100px;
    /* top: 0; */
    right: 0;
    left: -25px;
    /* left: -22.5px; */
    margin: 0 auto;
    bottom: 0;
    z-index: -2;
    background: linear-gradient(to bottom left, var(--rock-darker-color) 20%, var(--paper-darker-color) 50%, var(--scissors-darker-color) 90%);
    animation: rotating 12s linear infinite
}

.game-over-modal, .options-modal {
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background:rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.game-over-content, .options-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background:rgb(13, 13, 13);
    width: 60vw;
    height: 60vh;
    padding: 50px 8%;
    z-index: 5000;
    position: relative;
    text-align: center;
}

.game-over-content h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.game-over-content button, .options-content button {
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 0 auto;
    color: white;
    background: transparent;
    border: 2px solid white;
    box-shadow: 0 0 5px 1px white, inset 0 0 5px 1px white;
    text-shadow: 0 0 5px white, 0 0 5px white;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 3px;
    cursor: pointer;
}

.game-over-content button:hover, .options-content button:hover{
    background: white;
    color: black;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.217), 0 0 5px rgba(0, 0, 0, 0.217);
    transition: background 400ms ease-in-out, color 300ms ease-in-out;
}

.content-wrapper, .options-content-wrapper {
    z-index: 700;
    padding: .2rem;
    background: linear-gradient(to bottom right, var(--rock-darker-color) 20%, var(--paper-darker-color) 50%, var(--scissors-darker-color) 90%);
}

.options-content h1 {
    font-size: 2.5rem;
    padding-bottom: 15px;
}

.options-content {
    height: 500px;
    border: 2px solid white;
    border-radius: 10px;
    justify-content: center;
    gap: 1rem;
}

.options-content button{
    margin-top: 2rem;
}

.options-content div {
    padding: 0 8%;
    font-size: 1.5rem;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

input[type=number] {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

.allow-ties {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

/* Checkbox */
input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 1px solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

h1 {
    display: inline-block;
    font-weight: 200;
    text-shadow: 0 0 2px white, 0 0 2px white;
    color: white;
    text-align: center;
}

.dummy, .options {
    width: 50px;
    height: 50px;
}

#options {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

#options:hover i{
    transform: rotate(60deg);
    transition: transform 200ms ease-in-out;
}

#options i{
    font-size: 2rem !important;
    transition: transform 200ms ease-in-out;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.buttons {
    width: 100vw;
    display:flex;
    padding: 50px 12%;
    gap: 5%;
}

.buttons button {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 400px;
    background: transparent;
    border: none;
    gap: 30px;
    border-radius: 10px;
    height: 300px;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    max-width: 350px;
}

.buttons button::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    z-index: -2;
    opacity: 0;
    border: 1px solid var(--rock-color);
    background: var(--rock-darker-color);
}

#paper::after {
    border: 1px solid var(--paper-color);
    background: var(--paper-darker-color);
}

#scissors::after {
    border: 1px solid var(--scissors-color);
    background: var(--scissors-darker-color);
}

button:hover::after {
    scale: 10;
    transition: scale 300ms ease-out, opacity 50ms ease-in-out;
    opacity: .2;
}

button.clicked::after  {
    scale: 17;
    transition: scale 200ms ease-in, opacity 200ms ease-in-out;
    opacity: .5;
}

button > span, button > i {
    font-size: 100px;
    color: inherit;
    transition: scale 100ms ease-in-out; 
}

button:hover > i {
    scale: 1.1;
    transition: scale 100ms ease-in-out; 
}

#rock {
    border: 4px solid var(--rock-darker-color);
    box-shadow: 0 0 5px 2px var(--rock-color), inset 0 0 5px 2px var(--rock-color);
    color: var(--rock-darker-color);
    text-shadow: 0 0 2px var(--rock-color), 0 0 2px var(--rock-color);
}

#paper {
    border: 4px solid var(--paper-darker-color);
    box-shadow: 0 0 5px 2px var(--paper-color), inset 0 0 5px 2px var(--paper-color);
    color: var(--paper-darker-color);
    text-shadow: 0 0 5px var(--paper-color), 0 0 5px var(--paper-color);
    
}

#scissors {
    border: 4px solid var(--scissors-darker-color);
    box-shadow: 0 0 5px 2px var(--scissors-color), inset 0 0 5px 2px var(--scissors-color);
    color: var(--scissors-darker-color);
    text-shadow: 0 0 5px var(--scissors-color), 0 0 5px var(--scissors-color);
}

.current-round {
    padding: 0 30%;
    font-size: 3rem;
}

.current-round h3 {
    flex: 0 0 50px;
}

.commentary {
    padding: 25px 0;
    text-align: center;
    color: white;
}

.current-round h3 i {
    display: none;
}

.active {
    display: block !important;
}

.open {
    opacity: 1;
    pointer-events: all;
    transition: opacity 200ms ease-in-out;
}

@media screen and (max-width: 800px) {

    .game-over-content h1 {
        font-size: 5vw;;
    }
    
    .game-over-content button {
        font-size: 3.5vw;
        letter-spacing: 1px;
        box-shadow: 0 0 2px 1px white, inset 0 0 2px 1px white;
    }

    .game-over-content {
        height: 60vw;
    }

    h1 {
        font-size: 1.8rem;
    }

    .scoreboard > h3 {
        font-size: .9rem;
    }
    
    .scores {
        font-size: 2.5rem;
        width: 207.5px;
    }
    
    .scores::before {
        width: 180px;
        height: 50px;
        top: 5px;
    }

    .buttons {
        padding: 50px 5%;
    }
    
    .buttons button {
        height: 200px;
        padding: 0 10px;
        font-size: 1.25rem;
    }

    .buttons button::after {
        width: 15px;
        height: 15px;
    }

    button i {
        font-size: 4rem;
    }
}